.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: wait;
    z-index: 10;
}

/* Spinner animation */
.spinner {
    font-size: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}